<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="ruffkat.hombucha.store"/>

    <bean id="dataSource"
          class="org.apache.derby.jdbc.EmbeddedDataSource">
        <property name="createDatabase" value="create"/>
        <property name="databaseName" value="/Users/jeff/HombuchaDB"/>
        <property name="user" value="hombucha"/>
        <property name="password" value="hombucha"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="hombucha"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="DERBY"/>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="timeSource"
          class="javax.time.TimeSource$SystemTimeSource"/>

    <bean id="items"
          class="ruffkat.hombucha.store.ItemsImpl"/>
    <bean id="recipes"
          class="ruffkat.hombucha.store.RecipesImpl"/>
    <bean id="mushrooms"
          class="ruffkat.hombucha.store.MushroomsImpl"/>
    <bean id="reactors"
          class="ruffkat.hombucha.store.ContainersImpl"/>
    <bean id="ferments"
          class="ruffkat.hombucha.store.FermentsImpl"/>
    <bean id="samples"
          class="ruffkat.hombucha.store.SamplesImpl">
        <constructor-arg ref="timeSource"/>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

</beans>